body, html {
    height: 100%;
    margin: 0;
}

.pokeBG {
    background-image: url("../images/DetectivePikachu.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.whosThatPokemon {
    font-family: 'Archivo Black', sans-serif;
}